body{
    font-size: 16px;
    color: #fff;
    background-color: rgb(4, 248, 16);
}
/*ligne de Menu*/

#header-nav{
    background: yellow;
    border-radius: 0;
    border: 0;
    height: 80px;
    width: 100%;
    position: relative;
}
.navbar-brand{
    padding-top: 25px;
    position: relative;
    width: 560px;
}
.navbar-brand h1{
    text-shadow: 2px 2px 2px rgb(249, 249, 250);
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(3, 3, 3);
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}
/* je fais des tests*/
.dropdown{
    position: fixed;
    top: 25px;
    right: 10px;
}

@media (min-width: 768px) {
    .dropdown-toggle {
      float: left;
      display: none;
    }
    }
  }

/*liste des menu de téléphone*/
.dropdown-menu{
    margin-top: 27px;
    width: 100%;
    background-color: rgb(145, 182, 145);
}
.dropdown-menu li{
    font-size: 24px;
    font-weight: bold;
    color: rgb(4, 4, 65);
    width: 100%;
    text-align: center;
    position: static;
    right: 1px;
}
/*les chambres de texte*/
.maman{
    background-color: red;
    color: white;
    height: auto;
    text-align: center;
    position: relative;
    margin: 5px;
    margin-bottom: 15px;
    font-size: 22px;
    padding: 8px;
}
/*le menu our de la page*/
.menu{
    margin-top: 20px;
    margin-bottom: 40px;
}
.menu h1{
    text-align: center;
    font-weight: bold;
}
/*les dernieres mise à jour*/
