body{
    font-size: 16px;
    color: #fff;
    background-color: rgb(4, 248, 16);
    color: black;
}
/*ligne de Menu*/
.navbar-header{
    background: yellow;
    padding-top: 25px;
    width: 100%;
    height: 3%;
}
.navbar-toggle .icon-bar{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar{
    margin-top: 4px;
}
@media (min-width: 768px){
    .navbar-toggle{
        display: none;
    }
}
.navbar{
    margin: 7px;
}
button{
    float: right;
}
.navbar-header button .icon-bar{
    border: 4px solid rgb(111, 110, 153);
}
.navbar-header button.navbar-toggle{
    border: 6px solid rgb(47, 37, 114);
    border-radius: 8px;
    clear: both;
    margin-top: -60px;
    margin-right: 40px;
}
/*liste des menu de téléphone*/
#nav-list{
    margin-top: 50px;
}
#nav-list a{
    color: black;
    text-align: center;
}
#nav-list a:hover{
    background-color: rgb(39, 2, 248);
}
#nav-list a span{
    font-size: 20px;
}
#nav-list li{
    font-size: 20px;
}
/*les chambres de texte*/
.maman{
    background-color: red;
    color: white;
    height: auto;
    text-align: center;
    position: relative;
    margin: 5px;
    margin-bottom: 15px;
    font-size: 22px;
    padding: 8px;
}
/*le menu our de la page*/
.menu{
    margin-top: 20px;
    margin-bottom: 40px;
}
.menu h1{
    text-align: center;
    font-weight: bold;
}
/*les dernieres mise à jour*/
